<!------ Include the above in your HEAD tag ---------->
<!--To Work with icons-->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="container">
    <h2 class="text-center">Comment and Rating</h2>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <form [formGroup]="formComment" (ngSubmit)="onSubmit(formComment.value)">
                    <div class="col-md-2">
                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
                    </div>
                    <div class="col-md-10">
                        <p *ngFor="let  user of users">
                            <a class="float-left" *ngIf="user.id == idUser" href="{{user.avatar}}">
                                <strong>{{user.name}}</strong></a> </p>
                          <div style="text-align:center"> <star-rating value="5" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="35px"
                                              readonly="false" (rate)="onRate($event)"></star-rating></div>

                        <div class="clearfix"></div>
                        <p><textarea formControlName="content" cols="110" rows="5"></textarea></p>
                        <p>
                            <button type="submit" class="float-right btn btn-outline-primary ml-2"><i
                                    class="fa fa-reply"></i> submit
                            </button>
                            <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> replay</a>
                        </p>
                    </div>
                </form>
            </div>
            <div class="card card-inner" *ngFor="let comment of commentAll">
                <div class="card-body" *ngIf="comment.house_id == idHouse">
                    <div class="row">
                        <div *ngFor="let user of users">
                            <div *ngIf="user.id === comment.user_id">
                            <div class="col-md-2">
                                <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
                                <p class="text-secondary text-center">15 Minutes Ago</p>
                            </div>
                            <div class="col-md-10">
                                <p><a >
                                <strong >{{user.name}}</strong></a></p>
                            </div>
                            </div>
                        </div>
                            <p> {{comment.content}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
