<header>
    <div class="wrapper">
        <a href="#"><img src="img/logo.png" class="logo" alt="" titl="" /></a>
        <a href="#" class="hamburger"></a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Rent</a></li>
                <li><a href="#">Sell</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <app-login></app-login>
            <app-register></app-register>
            <div class="btn-group" mdbDropdown>
                <button *ngIf="id" mdbDropdownToggle type="button" class="login_btn dropdown-toggle"
                    mdbWavesEffect>
                    <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span>
            </button>
                <div class="dropdown-menu dropdown-primary mt-5 ml-5">
                    <a class="dropdown-item" [routerLink]="['/room/create']"><i class="fas fa-plus"></i> Create House</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/history']"><i class="fas fa-history"></i> Lịch sử</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['edit/' + id]" ><i class="fas fa-user-edit"></i> Cập nhật User</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['changePassword/' + id]" ><i class="fas fa-key"></i> Change password</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item" (click)="onLogout()"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </div>
            </div>
        </nav>
    </div>
</header>