<section class="search">
  <div class="wrapper">
        <div class="searchbar mt-4">
          <input class="search_input" type="text" name="" placeholder="Search..." [(ngModel)]="keyword">
          <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
        <button class="mt-4" mdbBtn type="button" color="while" style="border-radius: 30px;" data-target="#basicExample"
          (click)="basicModal.show()" mdbWavesEffect>Tùy chọn<mdb-icon fas icon="magic" class="ml-1"></mdb-icon>
          </button>
  </div>
</section>

<div mdbModal #basicModal="mdbModal" class="modal fade" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="md-form col-6">
            <input mdbInput type="number" class="form-control">
            <label class="col">Số lượng phòng ngủ</label>
          </div>
          <div class="md-form col-6">
            <input mdbInput type="number" class="form-control">
            <label class="col">Số lượng phòng tắm</label>
          </div>
        </div>
        <div class="md-form">
          <input mdbInput type="text" class="form-control">
          <label class="">Địa chỉ</label>
        </div>
        <div class="md-form">
          <input mdbInput type="number" class="form-control">
          <label class="">Giá tiền</label>
        </div>
      </div>
      <div class="modal-footer">
        <a aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Xóa</a>
        <button type="button" style="border-radius: 30px;" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Áp
          dụng</button>
      </div>
    </div>
  </div>
</div>