    <button *ngIf="!IdLogin" class="login_btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Login</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="form">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login to your account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
                    <div class="form-group" >
                        <label>Email</label>
                        <small *ngFor="let errors of ERROR_MESSAGE.email" class="text-danger">
                            <ng-container
                                    *ngIf="(loginForm.get('email').hasError(errors.type)) &&(loginForm.get('email').touched) ">
                                {{errors.message}}
                            </ng-container>
                        </small>
                        <input type="email" class="form-control" formControlName="email" required/>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <small *ngFor="let errors of ERROR_MESSAGE.password" class="text-danger">
                            <ng-container
                                    *ngIf="(loginForm.get('password').hasError(errors.type)) &&(loginForm.get('password').touched) ">
                                {{errors.message}}
                            </ng-container>
                        </small>
                        <input type="password" class="form-control" formControlName="password" required/>
                    </div>
                    <div class="form-group" >
                        <button type="submit" class="btn btn-primary float-right" >Login</button>
                    </div>
                </form>
                <a (click)="signInWithGoogle()"><i class="fa fa-google fa-fw">
                </i> Login with Google+
                </a>

            </div>
        </div>
    </div>
</div>