<button *ngIf="!IdLogin" class="login_btn" data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo">Register</button>
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="form">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login to your account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
                    <div class="form-group" >
                        <label>Email</label>
                        <small *ngFor="let errors of ERROR_MESSAGE.email" class="text-danger">
                            <ng-container
                                    *ngIf="(registerForm.get('email').hasError(errors.type)) &&(registerForm.get('email').touched) ">
                                {{errors.message}}
                            </ng-container>
                        </small>
                        <input type="email" class="form-control" formControlName="email" required/>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <small *ngFor="let errors of ERROR_MESSAGE.password" class="text-danger">
                            <ng-container
                                    *ngIf="(registerForm.get('password').hasError(errors.type)) &&(registerForm.get('password').touched) ">
                                {{errors.message}}
                            </ng-container>
                        </small>
                        <input type="password" class="form-control" formControlName="password" required/>
                    </div>

                    <div class="form-group">
                        <label>Confirm password</label>
                        <small *ngFor="let errors of ERROR_MESSAGE.confirmPassword" class="text-danger">
                            <ng-container
                                    *ngIf="(registerForm.get('confirmPassword').hasError(errors.type)) &&(registerForm.get('confirmPassword').touched) ">
                                {{errors.message}}
                            </ng-container>
                        </small>
                        <input type="password" class="form-control" formControlName="confirmPassword" required/>
                    </div>


                    <div class="form-group">
                        <label>Name</label>
                        <small *ngFor="let errors of ERROR_MESSAGE.name" class="text-danger">
                            <ng-container
                                    *ngIf="(registerForm.get('name').hasError(errors.type)) &&(registerForm.get('name').touched) ">
                                {{errors.message}}
                            </ng-container>
                        </small>
                        <input type="text" class="form-control" formControlName="name" required/>
                    </div>

                    <div class="form-group">
                        <label>Phone</label>
                        <small *ngFor="let errors of ERROR_MESSAGE.password" class="text-danger">
                            <ng-container
                                    *ngIf="(registerForm.get('phone').hasError(errors.type)) &&(registerForm.get('phone').touched) ">
                                {{errors.message}}
                            </ng-container>
                        </small>
                        <input type="number" class="form-control" formControlName="phone" required/>
                    </div>



                    <div class="form-group" >
                        <button type="submit" class="btn btn-primary float-right" >Register</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
