<!-- Modal -->
<div class="modal fade" id="darkModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog form-dark" role="document">
        <!--Content-->
        <form [formGroup]="registerForm"  (ngSubmit)="register(registerForm.value)">
            <div class="form-group" >
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name" required/>
            </div>
            <div class="form-group" >
                <label >Email</label>
                <input type="email" class="form-control" formControlName="email" required/>
            </div>
            <div class="form-group" >
                <label>Phone</label>
                <input type="number" class="form-control" formControlName="phone" required/>
            </div>
            <div class="form-group" >
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password" required/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Register</button>
                <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a href="" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#darkModalForm">Don't have account?
        Create one here</a>
</div>
